.App{
  
  padding: 30px ;
  margin: 5px;
  background: rgb(0, 0, 0,.5) url(./istockphoto-1285308242-612x612\ \(1\).jpg);
background-repeat: no-repeat;
background-size: cover;
height: 550px;
width: 600px;
background-blend-mode: darken;
h2{
  font-size: 50px;
  color: rgb(206, 81, 32);
}

}
ul{
  list-style: none;
}
input{
  padding: 10px;
  width: 300px;
  color: rgb(206, 81, 32);
  font-size: larger;
}
button{
  margin: 20px;
  width: 100px;
  padding:10px;
  color: rgb(255, 255, 255);
  background-color: rgb(206, 81, 32);
  font-size: large;
  
}
button:hover{
  color:rgb(206, 81, 32);
  background-color: rgb(255, 255, 255);
} 
li{
  color: rgb(206, 81, 32);
  font-size:25px;
  font-weight: bolder;
}
ul li {
  width:300px;
  overflow-wrap: break-word;
  list-style-type:"👉🏼";
  cursor: pointer;
}
.done{
  text-decoration: line-through;
}
.toDoLi{
  display: flex;
  justify-content: space-between;
}